---
import type { CollectionEntry } from "astro:content"
import BaseHead from "../components/BaseHead.astro"
import FormattedDate from "../components/FormattedDate"
import Header from "../components/Header.astro"
import Footer from "../components/Footer.astro"

type Props = CollectionEntry<"blog">["data"]

const { title, description, pubDate, updatedDate, heroImage } = Astro.props
---

<html lang="en">
  <head>
    <BaseHead title={title} description={description} />
    <style is:global>
      main {
        width: calc(100% - 2em);
        max-width: 100%;
        margin: 0;
      }
      .prose {
        width: 960px;
        max-width: calc(100% - 2em);
        margin: auto;
        padding: 1em;
      }

      .title {
        margin-bottom: 1em;
        padding: 1em 0;
        text-align: center;
        line-height: 1;
      }

      .title h1 {
        margin: 0 0 0.5em 0;
        font-size: 2.5rem;
      }

      .date {
        font-size: 1.25rem;
        margin-bottom: 1em;
      }

      .title hr {
        border-width: 4px;
        border-color: var(--text-color);
      }

      .date {
        margin-bottom: 0.5em;
      }

      .last-updated-on {
        font-style: italic;
      }

      .katex-display {
        overflow-x: auto;
        overflow-y: hidden;
      }

      .md-body p {
        margin-top: 1rem;
        margin-bottom: 1rem;
      }

      .md-body h1 {
        font-size: 2rem;
      }

      .md-body h1::before {
        content: "# ";
      }

      .md-body h2 {
        font-size: 1.5rem;
      }

      .md-body h3 {
        font-size: 1.25rem;
      }

      .md-body h4 {
        font-size: 1rem;
      }

      .md-body code {
        font-family: "Scientifica", "Fira Code", "Consolas";
      }

      .md-body a {
        color: var(--pink);
      }

      .md-body a:hover {
        text-decoration: underline;
      }

      .md-body a::before {
        content: "";
        display: inline-block;
        width: 0.5em;
      }

      .md-body a::after {
        content: "";
        display: inline-block;
        width: 0.5em;
      }

      .md-body a:hover::before {
        content: "[";
      }

      .md-body a:hover::after {
        content: "]";
      }

      .astro-code {
        border-image: url(/border-light-1px.webp) 3 round;
        border-width: 12px;
        image-rendering: pixelated;
        padding: 0.5rem;
      }

      @media (prefers-color-scheme: dark) {
        .astro-code,
        .astro-code span {
          color: var(--shiki-dark) !important;
          background-color: var(--shiki-dark-bg) !important;
          /* Optional, if you also want font styles */
          font-style: var(--shiki-dark-font-style) !important;
          font-weight: var(--shiki-dark-font-weight) !important;
          text-decoration: var(--shiki-dark-text-decoration) !important;
        }

        .astro-code {
          border-image: url(/border-dark-1px.webp) 3 round;
          image-rendering: pixelated;
        }
      }
    </style>
  </head>

  <body>
    <Header />
    <main>
      <article>
        <div class="prose blog-font-pixel">
          <div class="title">
            <h1>{title}</h1>
            <div class="date">
              <FormattedDate date={pubDate} />
              {
                updatedDate && (
                  <div class="last-updated-on">
                    Last updated on <FormattedDate date={updatedDate} />
                  </div>
                )
              }
            </div>
            <hr />
          </div>
          <div class="md-body">
            <slot />
          </div>
        </div>
      </article>
    </main>
    <Footer />
  </body>
</html>
